:root { overscroll-behavior: none; }

body {
    font-family: 'Raleway';
    font-size: calc(10px + 0.75vw);
}

#hero {
    background:rgb(16, 33, 70);
    color: rgb(235, 235, 235);
    font-family: 'Raleway';
    margin: 0px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 45vw;
    display: inline-block;
}

.navitem { float: left; }

.navitem a {
    color: white;
    font-size: calc(10px + 0.75vw);
    text-align: center;
    padding: 15px calc(10px + 0.75vw);
    text-decoration: none;
    float: left; 
}

.navitem a:hover { background-color: #111; }

#hero-left {
    background:rgb(16, 33, 70);
    color: rgb(235, 235, 235);
    font-weight: 800;
    width: 35vw;
    height: 100vh;
    display: inline-block;
    float: left;
}

#hero-right {
    background:rgb(52, 104, 216);
}

.headline {
    font-size:calc(10px + 3vw);
}

#herogif {
    background:rgb(52, 104, 216);
    width: 55vw;
    height: 100vh;
    float: right;
}



#pagebody {
    margin: 0% 15%;
}

#desc {
    line-height: 1.75;
    font-weight: 600;
}

.search {
    background-color: lightgray;
    padding-bottom: 10%;
}

#uni-search-menu {
    display: none;
    max-height: 200px; /* Limit the number of visible results */
    overflow-y: auto; /* Enable vertical scrolling */
}

  /* Show the menu when search bar is focused */
#uni-search:focus + .uni-search-menu {
    display: block;
}